<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<form action="" method="post">
<div class="input-group flex-nowrap">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping">学生姓名</span>
      <input type="text" class="form-control" name="name">
    <span class="input-group-text" id="addon-wrapping">python成绩</span>
      <input type="text" class="form-control" name="python">
    <span class="input-group-text" id="addon-wrapping">大数据成绩</span>
      <input type="text" class="form-control" name="big_data">
    <span class="input-group-text" id="addon-wrapping">H5成绩</span>
      <input type="text" class="form-control" name="h5">
  </div>
</div>
    <input type="submit" value="确认提交">
    </form>
</body>
</html>