<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<form action="" method="post">
<div class="input-group flex-nowrap">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping">修改的学生姓名</span>
      <input type="text" class="form-control" aria-label="Username" aria-describedby="addon-wrapping" name="name1">
    <span class="input-group-text" id="addon-wrapping">修改python成绩</span>
      <input type="text" class="form-control" aria-label="Username" aria-describedby="addon-wrapping" name="python1">
    <span class="input-group-text" id="addon-wrapping">修改大数据成绩</span>
      <input type="text" class="form-control" aria-label="Username" aria-describedby="addon-wrapping" name="big_data1">
    <span class="input-group-text" id="addon-wrapping">修改H5成绩</span>
      <input type="text" class="form-control" aria-label="Username" aria-describedby="addon-wrapping" name="h51">
  </div>
</div>
<input type="submit" value="确认修改">
</form>
</body>
</html>